.navbar{
  background: var(--primaryBlack);
  font-weight: 300;
  width: 100%;
}
.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem 0.5rem 1.02rem;
}
.logo{
  padding: .3rem 0;
}
.toggle-btn {
  color: var(--solutionsColor);
  background: inherit !important;
  border: unset;
  margin-left: 10px;
  outline: unset;
}
.toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-links {
  list-style-type: none;
  padding-left: 1.25rem;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.show-nav {
  height: 265px;
}
.nav-links a,
.nav-links span{
  display: block;
  font-size: 0.95rem;
  letter-spacing: var(--altSpacing);
  padding: 1rem 1.25rem;
  text-decoration: none;
}
.nav-links a:hover{
  background: var(--primaryBlack2);
  color: var(--primaryColor);
}
  .nav-links a.phone:hover{
    background:transparent;
  }

.nav-links a.allow-pointer{
  opacity: 1;
}
.nav-links a.current-page{
  opacity: 1;
  pointer-events: none;
  background: var(--primaryColor);
  color: var(--primaryColor) !important;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 1rem;
  }
  .logo{
    max-height: 53px;
    padding: .3rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .toggle-btn {
    display: none;
  }
  .nav-center {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-links li{
    min-width: 150px;
    text-align: center;
  }
  .nav-links li.link{
    background: unset;
  }
  .nav-links a:hover{
    background: var(--primaryBlack2);
    color: var(--primaryColor) !important;
  }
  .nav-links a.phone:hover{
    background:transparent;
  }
  .nav-links li.active{
    background: var(--primaryBlack2);/*styles while hovering over submenu*/
    a {
      color: var(--digitalColor);
    }
  }
  .logo{
    padding: .3rem 0;
  }
  .nav-links a,
  .nav-links span{
    margin-left: 0;   
  }
}
