@import url("https://use.typekit.net/jrs5cnv.css");
:root {
  --digitalColor: #7e7b78;
  --solutionsColor: #c8c6c3;
  --favoriteColor: #C7A0A1;
  --primaryLight: #B99281;
  --primaryDark:  #9F776B;
  --primaryColor: #efebe8; /*#F7F3F0;*/
  --primaryBlack: #121212;
  --primaryWhite: #ffffff;
  --primaryGrey: #E4D9D5;
  --grey0: #F5F5F5;

  --mainTransition: all 0.2s linear;
  --mainSpacing: 0.3rem;
  --altSpacing: 0.0620rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --radius: 0.25rem;
  --maxWidth: 40rem;

  /* START FONTS */
  --pFF:  bree, sans-serif;           /* 300 */
  --scriptFF:  shelby, sans-serif;    /* 400 */ 
  --mainFF:aileron, sans-serif;
  /* 300,700 */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--primaryBlack);
  font-family: var(--mainFF);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  opacity: 1;
}
p, div{
  font-family: var(--pFF);
  font-weight: 400;
}
nav a {
  font-family: var(--mainFF);
}
h1, h2{
  font-family: aileron, sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1.25rem;
  white-space: pre-wrap;
}
h2, h3, h4, h5, h6{
  font-family: var(--scriptFF);
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing) !important;
  white-space: pre-wrap;
}
section {
  transition: var(--mainTransition);
}
p {
  margin-bottom: 1.15rem;
  white-space: pre-wrap;
}
main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a{
  color: var(--primaryBlack);
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: var(--mainTransition);
}
a:hover{
  color: var(--primaryDark);
}
.phone{
  color: var(--primaryBlack);
  font-family: var(--mainFF);
  letter-spacing: var(--altSpacing) !important;
  line-height: inherit !important;
  padding: 0 0.5rem;
  white-space: pre-line;
}
.short-page{  /* 404-page, thankyou-page */
  background: var(--primaryColor);
  min-height: calc(100vh - 252px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-btn{
  text-align: center;
  padding-bottom: 3rem;
  background: var(--primaryWhite);
}
img {
  width: 100%;
}
ul  {
  list-style: none;
}
ul[data-bullet-list] {
  color: var(--primaryBlack);
  display: block;
  font-style: normal;
  font-size: 15px;
  line-height: 27px;
  list-style:none;
  margin: 0 20px;
  padding-bottom: 1rem;
}
ul[data-bullet-list] > li p{
  margin: 7.5px auto;
  font-family: var(--pFF);
  font-weight: 300;
  padding: 0 0 .2rem;
  white-space: pre-line;
}
ul[data-bullet-list] > li:first-child  p{ 
  padding: .4rem 0 .2rem;
}
ul[data-bullet-list] li>*:first-child::before{
  box-sizing: border-box;
  color: var(--primaryBlack);
  content: "\2022";
  display: inline-block;
  margin-left: -40px;
  min-width: 40px;
  padding-right: 10px;
  text-align: right;
  white-space: pre;
}
.centered {
  text-align: center;
  margin: 0;
  padding: 0;
}
.whiteBg {
  background-color: var(--primaryWhite);
}

/* section */
.section {
  padding: 5rem 0;
  font-family: var(--pFF);
  font-weight: 300;
  position: relative;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
div.border{
  border-bottom: calc(5vh) solid var(--primaryBlack);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}


/* Background Patterns */
.background-pattern-rain-light{
background-color: var(--primaryWhite);
background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f0ece6' fill-opacity='0.4'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.background-pattern-rain-dark{
background-color: var(--solutionsColor);
background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
