/*@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");*/

:root {
  --primaryColor: #ee8275;
  --primaryLight: #f09c91;
  --primaryText: #af5e54;
  --mainWhite: #FFFFFF;
  --offWhite: #f7f7f7;
  --barelyWhite: rgb(255 255 255 / 5%);
  --mainBlack: #333;/*#5d5252;*/
  --mainGrey: #474b4c;
  --darkGrey: #474b4c; /*#5a5e5f; #cfcfcf;*/
  --mainText: #474b4c;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --altSpacing: 0.0620rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainFF: 'Montserrat';
  --altFF: 'Raleway';
  text-underline-position: under;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: var(--mainFF);
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mainFF);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
    margin-bottom: 1.25rem;
}
.defaultHero {
  min-height: calc(100vh - 70px);
  background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/background/Portfolio.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.btn {
  border-width: 2px;
  border-style: solid;
  color: var(--mainWhite);
  cursor: pointer;
  display: inline-block;
  font-family: var(--altFF);
  letter-spacing: var(--mainSpacing);
  max-width: 75vw;
  margin: 1rem;
  outline: none;
  padding: 1.3rem 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--mainTransition);
}
.btn-white{
  background: transparent;
  border-color: var(--mainWhite);
}
.btn-primary{
  background: var(--primaryText);
  border-color: var(--primaryText);
}
.btn-white:hover {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  border-color: var(--primaryColor);
  color: var(--primaryColor);
}
.btn-outline-white{
  color: silver;
  background: transparent !important;
}
.btn-outline-white:hover{
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.phone{
  letter-spacing: 0.15rem !important;
  font-size: .75rem;
}
