.services {
  /*background: var(--mainGrey);
  color: silver;*/
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}
.service {
  margin: 2rem 0;
  text-align: center;
}
.service span {
  background: var(--primaryColor);
  padding: 0.5rem;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.service h4 {
  text-transform: uppercase;
}
span.title{
  color: silver;
}
.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; 
  text-align: center;
  width: 75vw;
}
.buttons  *{
  background: var(--mainGrey);
  border: 3px solid var(--mainGrey);

}
