.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  width: 99vw;
  margin-bottom: 2.5rem;
  background-clip: content-box;
}
.banner h1 {
  color: var(--primaryLight);
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0 1rem;
  letter-spacing: 3px;
  white-space: break-spaces;
  width: 95%;
  margin: 2rem auto;
}
.banner p {
  width: 85%;
  color: var(--primaryLight);
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .banner{
    width: 60vw;
    padding: 2rem 0;
    border: unset;
  }
  .banner h1 {
    font-size: 4rem;
    letter-spacing: 6px;
  }
  .banner p {
    width: 70%;
  }
}
