.banner {
  text-align: center;
  margin: 0 auto;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  width: 94vw;
  margin-bottom: 2.5rem;
  background-clip: content-box;
  background: var(--primaryColor);
}
.banner h1 {
  color: var(--primaryBlack);
  font-weight: 700;
  font-family: var(--scriptFF);
  font-size: 3.5rem;
  padding: 0 1rem;
  letter-spacing: 3px;
  width: 99%;
  margin: 2rem auto;
  white-space: pre-wrap !important;
}
.banner p {
  font-family: var(--mainFF);
  width: 90%;
  color: var(--primaryBlack);
  margin: 0 auto;
  margin-bottom: 2rem;
  white-space: pre-wrap !important;
}
@media screen and (min-width: 768px) {
  .banner{
    width: 60vw;
    padding: 2rem 0;
    border: unset;
  }
  .banner h1 {
    font-size: 5rem;
    letter-spacing: 6px;
  }
  .banner p {
    width: 75%;
  }
}
