.services {
  color: var(--primaryBlack);
  padding: 4rem 0;
  background: var(--hoverColor);
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}
.service {
  margin: 2rem 0;
  text-align: center;
}
.service span {
  color: var(--primaryColor);
  display: inline-block;
  font-size: 6rem;
  height: 0;
}
.service div {
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}
.service a:hover{
  color: var(--primaryColor) !important;
  text-decoration: underline;
}
.footer {
  text-align: center;
}
