.footer {
  background: var(--primaryDark);
  color: #dadada;
  font-weight: 100;
  padding: 1rem;
  margin-top: auto;
  text-align: center;
  border-top: 1px solid grey;
  border-radius: 5px;
  border-bottom: unset;
}
.links a {
  color: #dadada;
  display: inline-block;
  font-size: .8rem;
  letter-spacing: var(--altSpacing);
  margin: 0.5rem 1rem;
  text-decoration: none;
  transition: var(--mainTransition);
}
.icons a {
  color: silver;
  display: inline-block;
  font-size: 1.3rem;
  margin: 1rem;
  transition: var(--mainTransition);
}
.icons a:hover {
  transform: translateY(-3px);
}
.copyright {
  letter-spacing: var(--mainSpacing);
  line-height: 2;
}
.smallFont{
  font-size: calc(13px);
  margin: 0;
  mix-blend-mode: difference;
  padding: 5px 0;
  text-align: center;
}
