.footer {
  margin-top: auto;
  background: var(--mainGrey);
  padding: 1.1rem;
  text-align: center;
  color: #d9dfe1;
}
.links a {
  color: silver;
  display: inline-block;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: var(--altSpacing);
  margin: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--mainTransition);
}
.links a:hover {
  color: var(--mainWhite);
}
.icons a {
  display: inline-block;
  margin: 1rem;
  font-size: 1.3rem;
  color: silver;
  transition: var(--mainTransition);
}
.icons a:hover {
  color: var(--mainWhite);
  transform: translateY(-3px);

}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  line-height: 2;
}
.smallFont{
  font-weight: 300;

  font-size: calc(13px);
  text-align: center;
  mix-blend-mode: difference;
  margin: 0;
  padding: 5px 0;
  color: #d9dfe1; /*#794862;*/
}
