.footer {
  background-color: var(--primaryBlack);
  color: var(--safestColor);
  padding: 4rem;
  margin-top: auto;
  text-align: center;
}
.footer > div{
  color: var(--primaryWhite);
}
.links a {
  color: var(--primaryWhite) !important;
  display: inline-block;
  font-size: .8rem;
  letter-spacing: var(--altSpacing);
  margin: 1rem 2.5rem;
  text-decoration: none;
  transition: var(--mainTransition);
}
.links a:hover{
  color: var(--favoriteColor) !important;
}
.icons a {
  color: var(--primaryWhite);
  display: inline-block;
  font-size: 1.3rem;
  margin: 1rem;
  transition: var(--mainTransition);
}
.icons a:hover {
  transform: translateY(-1px);
  color: var(--favoriteColor) !important
}
.copyright {
  letter-spacing: var(--mainSpacing);
  line-height: 2;
}
.smallFont{
  font-size: calc(13px);
  margin: 0;
  color: var(--primaryWhite);
  padding: 5px 0;
  text-align: center;
}
