.navbar{
  font-weight: 300;
}
.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem 0.5rem 1.02rem;
}
.logo{
  padding: .3rem;
}
.toggle-btn {
  background: inherit !important;
  border: unset;
  outline: unset;
}
.toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-links {
  list-style-type: none;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.show-nav {
  height: 265px;
}
.nav-links a,
.nav-links span{
  display: block;
  font-size: 0.95rem;
  letter-spacing: var(--altSpacing);
  padding: 1rem 1.25rem;
  text-decoration: none;
}
.nav-links a.allow-pointer{
  opacity: 1;
}
.nav-links a.current-page{
  opacity: 1;
  pointer-events: none;
}
@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 1rem;
  }
  .logo{
    padding: .3rem 0;
  }
}
@media screen and (min-width: 992px) {
  .toggle-btn {
    display: none;
  }
  .nav-center {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .logo{
    padding: .3rem 0;
  }
}
