.service {
  margin: auto;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  width: fit-content;
  min-width: 365px;
  transform: skew(20deg);
  height: fit-content;
  background: linear-gradient(paleturquoise, turquoise, mediumturquoise, var(--primaryColor));
}
.service:hover {
  box-shadow: var(--darkShadow);
}
.bcg, a, .link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: var(--primaryColor);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
}
a{
  transform: unset;
  position: unset;
  padding: unset;
  text-decoration: underline;
}
.bcg{
  border: 4px solid var(--primaryColor);
  color: var(--primaryColor);
  width: 90%;
  transform: translate(-50%, -50%);
  height: 75%;
}
.link:hover {
  cursor: pointer;
}
.footer {
  padding: 1rem;
  text-align: left;
  opacity: 1;
}
.footer h4 {
  text-transform: capitalize;
  transform: skew(-20deg);
  margin-bottom: 0;
  font-family: var(--altFF);
  letter-spacing: 0.5px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.name {
  text-transform: capitalize;
  color: var(--primaryColor);
  font-weight: 300 !important;
  display: flex;
  align-items: center;
  opacity: 1;
  transform: translate(0%, 0%);
  padding: 0.5rem;
}
.icon {
  margin-right: 0.4rem;
}
