.template{ padding: 4rem 0; }

.image {
  box-shadow: var(--lightShadow);
}

/* Specific to a service type */
.benefit-container{
  width: fit-content;
  max-width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.5rem 0;
  white-space: pre-wrap;
}
.benefit-list{
  margin: 0 auto 6rem;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meta-description{
  max-width: 90%;
  margin: 0 auto 1.5rem;
}



/* Specific to each individual project */
.single-project-img{
  height: 75%;
  margin: 0 auto;
  width: 75%;
  transition: var(--mainTransition);
}
.project {
  padding: 4rem 0;
  text-align: center;
}
.project a {
  text-decoration: none;
}
a.url{
  text-transform: capitalize;
  background: var(--primaryColor);
  white-space:normal;
  letter-spacing: var(--altSpacing);
  font-size: 1.24rem;
  padding: 0.5rem;
  display: inline-block;
}
span.lower-url{
  text-transform: lowercase;
  margin-top: 1rem;
  font-size: 1rem;
  display: block;
}
.hide-mobile {
  display: none;
}
@media screen and (min-width: 992px) {
  .desc {
    width: 70vw;
  }
  .single-project-img{
    width: 45%;
    height: 45%;
  }
  .why-list{ width: 50%; }
  .hide-mobile {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .center {
    width: 95vw;
    max-width: 1170vw;
    height: fit-content;
  }
  .images {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-column-gap: 50px;
  }
  .single-project-img{
    width: 35%;
    height: 35%;
  }
  .why-list{ width: 30%; margin: 0 auto; text-align: center;}
  .hide-mobile {
    display: inline-block;
  }
}
