/* links */
.submenu {
  font-weight: 300;
  font-size: 0.80rem;
  background: var(--primaryBlack);
  position: absolute;
  top: 4rem;
  left: 60%;
  transform: translateX(-41%) translateY(-5%);
  z-index: 3;
  display: none;
  border-radius:0;
  padding: .5rem .5rem 1rem;
}
.submenu section{
  background: var(--primaryBlack);
  padding-right: 10px;
  font-family: var(--mainFF) !important;
}
.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.submenu.show {
  display: block;
  height: fit-content;
}
.submenu-center {
  display: grid;
  gap: 0.5rem 1rem;
}
.colTwo {
  grid-template-columns: repeat(1, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center .subLink {
  width: fit-content;
  display: block;
  color: var(--primaryWhite);
  text-decoration: none;
  text-transform: uppercase;
  margin-left: .5rem;
  letter-spacing: var(--altSpacing);
}
.submenu-center:hover .subLink:hover{
  cursor: pointer !important;
  color: var(--primaryGrey);
  text-decoration: none;
}
@media screen and (max-width: 991px){
  .submenu{
    display: none !important;
  }
}
